<!DOCTYPE html>
<html>
<head>
    <%- include common/head_commons.ejs %>

    <!--META-->
    <meta name="robots" content="noindex,nofollow"/>

</head>
<body>

<main class="container">

    <!-- Mobile Menu -->
    <%- include ./common/mobileMenu.ejs %>
    <!-- /Mobile Menu -->

    <!-- Header -->
    <header class="transition header fixed">
        <!-- Menu -->
        <%- include ./common/menu.ejs %>
        <!-- /Menu -->
    </header>
    <!-- /Header -->

    <!-- Content -->
    <div class="container center error404">
        <div class="dt fullscreen">
            <div class="dtc">
                <i class="fa fa-compass"></i>

                <h1>Error 404 - Page Not Found</h1>
                <p>The page you were looking for wasn't found</p>
                <a href="/" class="btn"><span>Back home</span></a>
            </div>
        </div>
    </div>
    <!-- /Content -->

    <!--Border-->
    <div class="border">
        <div class="frames">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="corners">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--/Border-->

    <!-- Footer -->
    <footer id="footer" class="fixed white">
        <p>&copy; Bogdan Alexandrov 2017. All rights reserved.</p>
    </footer>
    <!-- /Footer -->
</main>

<!-- JS -->
<%- include ./common/javascript.ejs %>
<!-- Plugins -->
<script type="text/javascript" src="/js/website-smooth-scroll.min.js"></script>
<!-- Main js -->
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>